{%extends "/shared/layout.html" %}

{% block title %}Signin{% endblock %}

{% block head %}
	{{ super() }}

    <link rel="stylesheet" href="/static/home.css" />
{% endblock %}

{% block content %}
	

	<img class="wave" src="{{ url_for('static', filename='img/wave.png') }}">
	<div class="login-container">
		<div class="img">
			<img src="{{ url_for('static', filename='img/bg.svg') }}">
		</div>
		
		<div class="login-content">
			<form action="/signin" method="POST">
				<img src="{{ url_for('static', filename='img/avatar.svg') }}">
				<h2 class="title">Welcome</h2>
				{% if error %}
					<div class="alert alert-danger">
						{{error}}
					</div>
				{% endif %}
				<div class="form-group input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<!-- <label for="exampleInputEmail1">Email address</label> -->
						<input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="outline: 0;">
						<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
					</div>
				</div>
				<div class="form-group input-div pass">
					<div class="i"> 
						<i class="fas fa-lock"></i>
				   </div>
					<div class="div">
						<!-- <label for="exampleInputPassword1">Password</label> -->
						<input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password" style="outline: 0;">
					</div>
				</div>
	
				<div class="form-group">
					<a href="/signup">Join us now!</a>
				</div>
	
				<button type="submit" class="btn btn-primary login-btn">Signin</button>
			</form>
		</div>
    </div>
{% endblock %}
